.acom-widget {
  color: transparent;
  background-color: #fff;
  background-image: radial-gradient(at 1% 0,#ff715b 0,transparent 50%),radial-gradient(at 48% 89%,#fff 0,transparent 50%),radial-gradient(at 100% 88%,#fff 0,transparent 50%),radial-gradient(at 1% 85%,#fff 0,transparent 50%),radial-gradient(at 93% 33%,#6d51f9 0,transparent 50%),radial-gradient(at 44% 55%,#c8e1fd 0,transparent 50%),radial-gradient(at 11% 22%,#fe4b38 0,transparent 50%),radial-gradient(at 88% 4%,#ea0f00 0,transparent 50%),radial-gradient(at 45% 0,#fe4b38 0,transparent 50%);
  min-height: 623px;
}

.acom-widget.ready {
  color: initial;
}

.acom-center.dragging {
  border: 3px #7396ff solid;
}

.acom-legal {
  margin-top: 30px;
  font-size: 14px;
  line-height: 20px;
  max-width: 527px;
  text-align: left;
  display: inline-block;
  color: #2c2c2c;
}

.acom-icon {
  height: 56px;
  min-width: 56px;
  background-image: url('../../img/icons/widget-icon.png');
  background-size: cover;
  margin-bottom: 24px;
  display: inline-flex;
}

.acom-big-icon {
  width: 500px;
  height: 500px;
  background-image: url('../../img/icons/chat-pdf.svg');
  background-size: contain;
  margin: auto;
  background-repeat: no-repeat;
  display: inline;
  float: right;
  position: absolute;
  right: 0;
  top: 40px;
}

.security-icon {
  width: 42px;
  height: 42px;
  background-image: url('../../img/icons/widget-sec.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}

.acom-footer {
  text-align: center;
}


#CIDTWO {
  /* display: none; */
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}


#CID.facade {
  position: absolute;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
}



/* new css */

.acom-widget {
  padding: 19px;
}

.acom-wrapper {
  max-width: 1349px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  border-style: dashed;
  border-color: #d5d5d5;
  border-width: 3px;
  position: relative;
  background-color: #fff;
  padding: 25px;
  min-height: 560px;
}

.acom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.acom-col {
  flex: 100%;
}

.acom-copy {
  text-align: left;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  color: #2c2c2c;
  margin: revert;
}

.acom-cta {
  background: #1473e6;
  border-radius: 8px;
  padding: 11px 27px;
  color: white;
  white-space: nowrap;
  font-weight: 700;
  display: inline-flex;
}

.acom-cta:hover {
  text-decoration: none;
  color: #fff;
  background: #0054b6;
}

.acom-error {
  background: #d8120b;
  width: fit-content;
  border-radius: 8px;
  padding: 11px 27px;
  color: white;
  white-space: nowrap;
  font-weight: 700;
  display: flex;
}

.acom-heading {
  color: #2c2c2c;
  text-align: left;
  font-weight: 600;
  font-size: 44px;
  margin: revert;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .acom-container {
    padding-left: 133px;
    padding-right: 133px;
  }

}
