.acom-widget {
  color: transparent;
  background-color: #fff;
  background-image: radial-gradient(at 1% 0,#ff715b 0,transparent 50%),radial-gradient(at 48% 89%,#fff 0,transparent 50%),radial-gradient(at 100% 88%,#fff 0,transparent 50%),radial-gradient(at 1% 85%,#fff 0,transparent 50%),radial-gradient(at 93% 33%,#6d51f9 0,transparent 50%),radial-gradient(at 44% 55%,#c8e1fd 0,transparent 50%),radial-gradient(at 11% 22%,#fe4b38 0,transparent 50%),radial-gradient(at 88% 4%,#ea0f00 0,transparent 50%),radial-gradient(at 45% 0,#fe4b38 0,transparent 50%);
  min-height: 623px;
  padding: 19px;
}

.acom-widget.ready {
  color: initial;
}

.acom-legal {
  margin-top: 30px;
  font-size: 14px;
  line-height: 20px;
  max-width: 527px;
  text-align: left;
  display: inline-block;
  color: #2c2c2c;
}

.acom-icon {
  height: 56px;
  min-width: 56px;
  background-image: url('../../img/icons/widget-icon.png');
  background-size: cover;
  display: inline-flex;
}

.acom-big-icon {
  width: 500px;
  height: 500px;
  background-image: url('../../img/icons/chat-pdf.svg');
  background-size: contain;
  margin: auto;
  background-repeat: no-repeat;
  display: inline;
  float: right;
  position: absolute;
  right: 0;
  top: 40px;
}

.security-icon {
  width: 42px;
  height: 42px;
  background-image: url('../../img/icons/widget-sec.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}

.acom-footer {
  text-align: center;
}


#CIDTWO {
  /* display: none; */
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}


#CID.facade {
  position: absolute;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
}



/* new css */

.acom-wrapper {
  width: 75%;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  border: 3px dashed #d5d5d5;
  position: relative;
  background-color: #fff;
  min-height: 560px;
}

.acom-wrapper.dragging {
  background-color: #ecf5ff;
  border: 3px #0265dc solid;
}

.acom-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.acom-col {
  flex: 100%;
}

.acom-col.right {
  display: flex;
  justify-content: center;
}

.acom-copy {
  text-align: left;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  color: #2c2c2c;
  margin: revert;
}

.acom-cta {
  background: #1473e6;
  border-radius: 8px;
  padding: 11px 27px;
  color: white;
  white-space: nowrap;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  min-width: 130px;
}

.acom-cta::before {
  content: '';
  background-image: url('/acrobat/img/icons/upload-icon.svg');
  background-repeat: no-repeat;
  background-size: 32px 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  width: 32px;
  height: 28px;
}

.acom-cta:hover {
  text-decoration: none;
  color: #fff;
  background: #0054b6;
}

.acom-error {
  background: #D31510;
  min-width: 506px;
  padding: 11px 27px;
  color: white;
  white-space: nowrap;
  display: flex;
  position: absolute;
  top: 90px;
  justify-content: center;
  transform: translate(-50%, -50%);
  left: 50%;
  font-size: 14px;
  font-weight: 400; 
}

.acom-errorText {
  margin: 0 25px;
  width: 100%;
}

.acom-errorBtn {
  position: absolute;
  right: 0;
  top: 0;
}

.acom-errorBtn::after {
  content: '';
  background-image: url('/acrobat/img/icons/ui/close.svg');
  background-repeat: no-repeat;
  background-size: 45px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.acom-errorIcon {
  position: absolute;
  left: 0;
  top: 0;
}

.acom-errorIcon::after {
  content: '';
  background-image: url('/acrobat/img/icons/ui/alert.svg');
  background-repeat: no-repeat;
  background-size: 65px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.acom-heading {
  color: #2c2c2c;
  text-align: left;
  font-weight: 600;
  font-size: 44px;
  margin: revert;
  margin-bottom: 16px;
}

.acom-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 24px;
}

.acom-title {
  font-size: 30px;
  font-weight: bold;
  color: black;
  margin-left: 15px;
}

@media screen and (min-width: 768px) {
  .acom-container {
    align-items: center;
    display: flex;
    flex: 1 1 55%;
    flex-direction: row;
    padding: 48px 0 48px 48px;
  }

  .acom-mobile-cta {
    /* display: none; */
    background: #1473e6;
    border-radius: 8px;
    padding: 11px 27px;
    color: white;
    white-space: nowrap;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
  }
}

/* responsive design */

@media screen and (max-width: 768px) {
  .acom-wrapper {
    width: unset;
    max-width: unset;
    padding: 20px;
  }

  .acom-row {
    display: flex;
    flex-direction: column;
  }

  .acom-icon {
    height: 40px;
    min-width: 40px;
  }

  .acom-title {
    font-size: 27px;
  }

  .acom-heading {
    font-size: 36px;
  }

  .acom-copy {
    font-size: 18px;
  }

  .acom-cta {
    /* display: none; */
  }

  .acom-mobile-cta {
    display: flex;
    top: 324px;
    left: 40px;
    padding: 11px 25px;
    border-radius: 47px;
    background: #1473e6;
    color: white;
    white-space: nowrap;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    width: 30%;
  }
}

