.acom-widget {
  color: transparent;
  background-color: #fff;
  background-image: radial-gradient(at 1% 0,#ff715b 0,transparent 50%),radial-gradient(at 48% 89%,#fff 0,transparent 50%),radial-gradient(at 100% 88%,#fff 0,transparent 50%),radial-gradient(at 1% 85%,#fff 0,transparent 50%),radial-gradient(at 93% 33%,#6d51f9 0,transparent 50%),radial-gradient(at 44% 55%,#c8e1fd 0,transparent 50%),radial-gradient(at 11% 22%,#fe4b38 0,transparent 50%),radial-gradient(at 88% 4%,#ea0f00 0,transparent 50%),radial-gradient(at 45% 0,#fe4b38 0,transparent 50%);
  font-family: adobe-clean,'Source Sans Pro',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,sans-serif;
}

.wrapper-inner {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex: 1 1 55%;
  padding: 48px 0 48px 48px;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  width: min(678px, 100%);
}

.header-wrapper {
  display: flex;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}

.artwork-wrapper {
  display: flex;
  flex: 1 1 45%;
  height: 100%;
  justify-content: center;
}

.artwork-wrapper-inner {
  align-items: center;
  display: flex;
  justify-content: center;
}

.demo-text {
  text-align: center;
  font-size: 8px;
  margin: 0;
  background: #7396ff;
}

.acom-widget.ready {
  color: initial;
}

.widget-sub {
  margin: 0;
}

.widget-center {
  border: 3px #e1e1e1 dashed;
  width: calc(100% - 48px);
  margin: auto;
  height: 70%;
  border-radius: 8px;
}

.widget-center.dragging {
  border: 3px #7396ff solid;
}

.widget-legal {
  margin-top: 30px;
  font-size: 14px;
  line-height: 20px;
  max-width: 527px;
  text-align: left;
  display: inline-block;

}

.widget-icon {
  width: 24px;
  height: 24px;
  background-image: url('../../img/icons/widget-icon.png');
  background-size: cover;
  display: inline-block;
  margin-right: 10px;
}

.widget-big-icon {
  height: 100%;
  padding: 0;
  width: 100%;
}

.security-icon {
  width: 42px;
  height: 42px;
  background-image: url('../../img/icons/widget-sec.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}

.widget-footer {
  display: flex;
  margin: 24px auto 32px;
  padding: 0 16px;
  align-items: center;
  justify-content: center;
}

#CIDTWO {
  /* display: none; */
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

#CID.facade {
  position: absolute;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
  height: unset;
}

.status-bar {
  margin-left: 8px;
  font-size: 16px;
  color: #464646;
  display: inline-flex;
  max-width: 550px;
  justify-content: space-between;
}

.status-bar.hide {
  display: none;
}

.pBar-wrapper {
  height: 8px;
  width: 550px;
  background: #d5d5d5;
  margin-left: 8px;
  margin-top: 20px;
  border-radius: 25px;
}

.pBar {
  position: relative;
  height: 8px;
  width: 0%;
  background: #6338ee;
  border-radius: 25px;
  max-width: 100% !important;
}

.widget-heading {
  font-size: 72px;
  font-weight: 600;
  line-height: 100%;
  margin: 0 0 10px;
  text-align: left;
}

.widget-copy {
  display: flex;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-left: 8px;
  text-align: left;
}

.widget-copy.hide {
  display: none;
}

.widget-subCopy {
  display: flex;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-left: 8px;
  text-align: left;
  color: #6d6d6d;
}

.widget-subCopy.hide {
  display: none;
}

.acom-widget-wrapper {
  margin: 5px;
  background-color: #fff;
  width: 100%;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  border: 3px dashed #d5d5d5;
  border-radius: 20px;
  height: 466px !important;
}

.action-area {
  margin-top: 32px;
  padding: 0 40px;
}

.button-wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: flex-start;
  margin-top: 32px;
}

.widget-upload-button {
  align-items: center;
  border: 0 none;
  box-sizing: border-box;
  background-color: #0265dc;
  border-radius: 24px;
  font-size: 18px;
  color: white;
  user-select: none;
  touch-action: none;
  cursor: pointer;
  isolation: isolate;
  justify-content: center;
  line-height: 1.3;
  text-decoration: none;
  display: inline-flex;
  position: relative;
  overflow: visible;
  font-weight: 700;
  height: 48px;
  padding: 12px 24px;
  white-space: nowrap;
  width: unset;
}

.widget-upload-button.demo {
  background-color: white;
  border: 2px solid #d5d5d5;
  color: black;
}

.widget-upload-button.demo.hide {
  display: none;
}

.widget-upload-button:hover {
  text-decoration: none;
  color: #fff;
  background: #0054b6;
}

.widget-upload-button.demo:hover {
  text-decoration: none;
  background: #b1b1b1;
  color: black;
}
