[data-event-name] {
  /* display: none; */
  -webkit-transition: max-height 1s;
  -moz-transition: max-height 1s;
  -ms-transition: max-height 1s;
  -o-transition: max-height 1s;
  transition: max-height 1s;
  max-height: 0;
  overflow: hidden;
}

[data-current-event=cancel] [data-event-name=cancel],
[data-current-event=complete] [data-event-name=complete],
[data-current-event=conversion] [data-event-name=conversion],
[data-current-event=conversion] [data-event-name=complete],
[data-current-event=download] [data-event-name=download],
[data-current-event=preview] [data-event-name=preview],
[data-current-event=repeat] [data-event-name=repeat],
[data-current-event=start] [data-event-name=start],
[data-current-event=upload] [data-event-name=upload],
[data-current-event=uploadcomplete] [data-event-name=uploadcomplete],
[data-current-event=upsell] [data-event-name=upsell],
body:not([data-current-event]) [data-event-name=onload] {
  /* display: block; */
  max-height: 20000px;
}

.eventsShowAll .eventwrapper {
  padding: 5px;
  background-color: #ccd9ff;
}

.eventsShowAll .eventwrapper.complete,
.eventsShowAll .eventwrapper.preview {
  padding: 5px;
  background-color: #acbff8;
}

[data-current-event=complete] .fake-dc-wrapper,
[data-current-event=complete] #CID,
[data-current-event=start] #CID,
[data-current-event=uploadcomplete] .fake-dc-wrapper,
[data-current-event=uploadcomplete] #CID {
  top: 30px;
  position: relative;
}

.review.fade-in {
  animation-duration: 3s;
  animation-name: fade-in;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .wapper-rotate-pages.fsw > div > div {
    height: auto;
  }
}

.wapper-rotate-pages [data-test-id="lifecycle-organize-fragment"] {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.wapper-rotate-pages section[class^='LifecycleOrganizeSettings__'] {
  min-height: auto;
}
