[data-event-name] {
  /* display: none; */
  -webkit-transition: max-height 1s;
  -moz-transition: max-height 1s;
  -ms-transition: max-height 1s;
  -o-transition: max-height 1s;
  transition: max-height 1s;
  max-height: 0;
  overflow: hidden;
}

[data-current-event=cancel] [data-event-name=cancel],
[data-current-event=complete] [data-event-name=complete],
[data-current-event=conversion] [data-event-name=conversion],
[data-current-event=conversion] [data-event-name=complete],
[data-current-event=download] [data-event-name=download],
[data-current-event=preview] [data-event-name=preview],
[data-current-event=repeat] [data-event-name=repeat],
[data-current-event=start] [data-event-name=start],
[data-current-event=upload] [data-event-name=upload],
[data-current-event=uploadcomplete] [data-event-name=uploadcomplete],
[data-current-event=upsell] [data-event-name=upsell],
body:not([data-current-event]) [data-event-name=onload] {
  /* display: block; */
  max-height: 20000px;
}

.eventsShowAll .eventwrapper {
  padding: 5px;
  background-color: #ccd9ff;
}

.eventsShowAll .eventwrapper.complete,
.eventsShowAll .eventwrapper.preview {
  padding: 5px;
  background-color: #acbff8;
}

[data-current-event=complete] .fake-dc-wrapper,
[data-current-event=complete] #CID:not(.wapper-fillsign, .wapper-rotate-pages),
[data-current-event=start] #CID:not(.wapper-fillsign, .wapper-rotate-pages),
[data-current-event=uploadcomplete] .fake-dc-wrapper,
[data-current-event=uploadcomplete] #CID:not(.wapper-fillsign, .wapper-rotate-pages) {
  top: 30px;
  position: relative;
}

.review.fade-in {
  animation-duration: 3s;
  animation-name: fade-in;
}

.review.hide {
  opacity: 0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

body.l2-state {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body.l2-state main {
  margin-bottom: auto;
}

body.l2-state #dc-converter-widget {
  height: 570px;
}

body.l2-state #CID div[class^='LifecycleOrganizeSettings__organizeSettings__'] {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

body.l2-state.hide-content #CID div[class^='PdfnowLifecycle__lifecycle'],
body.l2-state.hide-content #CID section[class^='LifecycleOrganizeSettings__frictionlessContainer__'] {
  min-height: 75vh;
  height: 75vh;
}

body.l2-state.hide-content .global-footer {
  background: white;
}

body.l2-state.hide-content h3[class^='FrictionlessNavBar__topbarTitle'] svg g {
  stroke: rgb(124 195 63);
}

#CID.wapper-rotate-pages,
#CID.wapper-fillsign {
  top: 24px;
}

body.l2-state.hide-content #CID div[class^='FillSign2Viewer__dropzoneWrapper'] {
  height: 75vh;
}

body.l2-state.hide-content div[class^='FillSign2Viewer__dropinWrapper'] {
  max-height: calc(75vh - 65px);
}

body.l2-state div[data-section='widget'].widget-default-height {
  height: auto !important;
  min-height: auto !important;
}

@media (min-height: 900px) and (min-width: 1200px) {
  body.l2-state.hide-content #CID div[class^='PdfnowLifecycle__lifecycle'],
  body.l2-state.hide-content #CID section[class^='LifecycleOrganizeSettings__frictionlessContainer__'] {
    min-height: 75vh;
    height: 75vh;
  }

  body.l2-state.hide-content #CID div[class^='FillSign2Viewer__dropzoneWrapper'] {
    height: 75vh;
  }

  body.l2-state.hide-content div[class^='FillSign2Viewer__dropinWrapper'] {
    max-height: calc(75vh - 65px);
  }
}

@media (max-height: 750px) {
  body.l2-state #dc-converter-widget {
    height: unset;
    min-height: unset;
  }

  body.l2-state #CID {
    top: unset;
  }

  body.l2-state.hide-content #CID div[class^='FillSign2Viewer__dropzoneWrapper'],
  body.l2-state.hide-content #CID section[class^='LifecycleOrganizeSettings__frictionlessContainer__'] {
    height: 95%;
    min-height: 95%;
  }

  body.l2-state.hide-content #CID div[class^='PdfnowLifecycle__lifecycle'] .lifecycle-progress {
    flex-grow: 0;
    height: 95%;
    min-height: 95%;
  }

  body.l2-state.hide-content div[class^='FillSign2Viewer__dropinWrapper'] {
    max-height: calc(100% - 63px);
    min-height: calc(100% - 63px);
  }

  body.l2-state #CID section[class^='LifecycleOrganizeSettings__frictionlessContainer__'] div[class^='DesktopZoomButtons__zoomButtonContainer'] {
    bottom: 15px;
  }
}

@media (max-width: 600px) {
  body.l2-state.hide-content #CID div[class^='PdfnowLifecycle__lifecycle'],
  body.l2-state.hide-content #CID section[class^='LifecycleOrganizeSettings__frictionlessContainer__'] {
    min-height: 72vh;
  }

  body.l2-state .fsw.wapper-rotate-pages > div > div {
    min-height: 72vh !important;
  }
}

@media (max-width: 400px) and (max-height: 740px) {
  body.l2-state #CID {
    top: 15px;
  }

  body.l2-state.hide-content #CID div[class^='PdfnowLifecycle__lifecycle'],
  body.l2-state.hide-content #CID section[class^='LifecycleOrganizeSettings__frictionlessContainer__'] {
    min-height: 66vh;
  }

  body.l2-state .fsw.wapper-rotate-pages > div > div {
    min-height: 66vh !important;
  }
}

@media(max-width: 400px) {
  body.l2-state #dc-converter-widget {
    height: unset;
    min-height: unset;
  }
}

picture,
img {
  aspect-ratio: auto;
}

.verb-subfooter img {
  width: 24px;
  height: 24px;
  aspect-ratio: 1 / 1;
}

.icon-block img {
  width: 42px;
  height: 42px;
  aspect-ratio: 1 / 1;
}
