.placeholder-banner {
  position: relative;
  top: 0;
  left: 0;
  height: 76px;
}

.has-app-banner header.global-navigation {
  top: 76px;
}

.app-banner-close {
  display: inline;
  width: 24px;
  text-align: center;
  color: grey;
  font-size: 20px;
  box-sizing: content-box;
}

.app-banner-icon {
  border-radius: 10px;
  width: 63px;
  height: 63px;
  margin-right: 10px;
  box-sizing: content-box;
}

.app-banner-icon img {
  width: 63px;
  height: 63px;
  border-radius: 10px;
  box-sizing: content-box;
}

.app-banner-title {
  min-height: 2px;
  font-weight: bold;
  color: #333;
  font-size: 12px;
  height: 11px;
  box-sizing: content-box;
  margin: 0;
}

.app-banner-description {
  min-height: 2px;
  overflow: hidden;
  color: #333;
  font-size: 11px;
  height: 18px;
  box-sizing: content-box;
  margin: 0;
}

.app-banner-button {
  font-size: 12px;
  border: 1px solid;
  border-radius: 10px;
  text-decoration: none;
  color: #1CADCE;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1.15px;
  display: inline;
  vertical-align: middle;
  margin-right: 9px;
  height: 33px;
  width: 46px;
  box-sizing: content-box;
  background: transparent;
}

.app-banner-stars {
  display: inline-block;
  color: #ffb400;
  letter-spacing: -2px;
  font-size: 16px;
  margin-left: -2px;
  box-sizing: content-box;
}

.app-banner-reviews {
  min-height: 10px;
  min-width: 10px;
  font-size: 12px;
  color: #777;
  display: inline-block;
  margin-left: 4px;
  top: -1px;
  box-sizing: content-box;
}

.app-banner-stars span {
  box-sizing: content-box;
}

.app-banner-content {
  width: 100%;
  overflow: hidden;
  height: 76px;
  background: white;
  color: #333;
  border-top: 1px solid #ddd;
  display: flex;
  box-sizing: content-box;
  align-items: center;
}

.app-banner-details {
  margin-top: 8px;
  margin-right: 16px;
  box-sizing: content-box;
}

.app-banner-right {
  height: 100%;
  margin-left: auto;
  box-sizing: content-box;
}

.app-banner-right::before {
  display: inline-block;
  vertical-align: middle;
  content: "";
  height: 100%;
  box-sizing: content-box;
}

.app-banner {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  user-select: none;
  transition: all 00.25s ease;
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: 0 0 5px #00000059;
  display: none;
  box-sizing: content-box;
  z-index: 11;
}
