.verb-widget {
  color: transparent;
  background-color: #fff;
  background-image: linear-gradient(180deg, #EB1000 0%, #F79B94 58%, #FFF 100%);
  min-height: 623px;
  padding: 19px;
}

.verb-widget.signed-in {
  min-height: 560px;
}

.verb-widget.ready {
  color: initial;
}

.verb-legal-wrapper {
  align-items: flex-start;
  display: flex;
  flex-flow: column;
}

.verb-legal {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  max-width: 527px;
  display: inline-block;
  color: #2c2c2c;
}

.verb-legal-two {
  margin-top: 0;
}

.verb-icon {
  display: inline-flex;
  width: 56px;
  height: 56px;
}

.verb-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 345px;
}

.verb-image svg {
  display: block;
  width: 100%;

}

.security-icon {
  display: flex;
  width: 42px;
  height: 42px;
  margin: 15px 0 0;
  margin-inline-end: 3px;
}

.info-icon {
  display: flex;
  margin: 15px 0 0;
  margin-inline-start: 20px;
}

.verb-footer {
  align-items: center;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.verb-widget.signed-in .verb-footer {
  display: none;
}

.verb-widget.signed-in .verb-upsell-active {
  display: none;
}

.verb-widget.upsell .verb-footer {
  display: none;
}

.verb-widget.upsell #drop-zone {
  display: none;
}

.verb-footer a {
  text-decoration: underline;
}

#CIDTWO {
  /* display: none; */
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}


#CID.facade {
  position: absolute;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
}

.verb-wrapper {
  width: 75%;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  border: 3px solid #d5d5d5;
  position: relative;
  background-color: #fff;
  min-height: 560px;
  cursor: pointer;
}

.verb-wrapper:hover {
  border: 3px dashed #909090;
}

.verb-wrapper.dragging {
  background-color: #ecf5ff;
  border: 3px #0265dc solid;
}

.verb-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100%;
}

.verb-col {
  flex: 100%;
}

.verb-col.right {
  display: flex;
  justify-content: center;
}

.verb-copy {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  color: #2c2c2c;
  margin: revert;
}

.verb-cta {
  cursor: pointer;
  background: var(--link-color);
  border-radius: 8px;
  padding: 11px 27px;
  color: white;
  white-space: nowrap;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 130px;
  font-family: var(--font-family);
  font-size: 18px;
  border: none;
}

.verb-cta .upload-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  width: 32px;
  height: 28px;
}

.verb-cta:hover {
  text-decoration: none;
  color: #fff;
  background: #0054b6;
}

.verb-error {
  cursor: default;
  background: #D31510;
  max-width: 506px;
  padding: 11px 37px 11px 20px;
  color: white;
  white-space: nowrap;
  display: flex;
  position: absolute;
  top: 90px;
  justify-content: center;
  transform: translate(-50%, -50%);
  left: 50%;
  font-size: 14px;
  font-weight: 400;
}

.close-icon {
  position: relative;
}

.verb-errorText {
  margin: 0 25px;
  width: 100%;
}

.verb-errorBtn {
  cursor: pointer;
  position: absolute;
  right: 10px;
  bottom: 0;
}

.verb-errorIcon {
  position: absolute;
  left: 0;
  top: 0;
}

.verb-errorIcon::after {
  content: '';
  background-image: url('/acrobat/img/icons/ui/alert.svg');
  background-repeat: no-repeat;
  background-size: 65px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.verb-heading {
  color: #2c2c2c;
  font-weight: 600;
  font-size: 44px;
  margin: revert;
  margin-bottom: 16px;
}

.verb-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 24px;
}

.verb-title {
  font-size: 30px;
  font-weight: bold;
  color: black;
  margin-inline-start: 15px;
}

.verb-mobile-cta {
  display: flex;
  top: 324px;
  left: 40px;
  padding: 11px 25px;
  border-radius: 47px;
  background: #1473e6;
  color: white;
  white-space: nowrap;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.verb-mobile-cta:hover,
.verb-mobile-cta:active {
  background-color: #0054b6;
  color: #fff;
  text-decoration: none;
}

.verb-upsell {
  color: #222;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: static;
  justify-content: normal;
  align-items: normal;
}

.verb-upsell-heading {
  display: inline;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 8px;
}

.verb-upsell-heading + .verb-upsell-heading {
  margin-left: 5px;
}

.verb-upsell-heading-nopayment {
  font-weight: 400 !important;
}

.verb-upsell-bullets-heading {
  margin-bottom: -4px;
  margin-top: 24px;
  padding-left: 0;
}

.verb-upsell-bullets {
  margin-top: 8px;
  padding: 0 0 0 15px;
}

.verb-upsell-list {
  font-size: 16px;
  list-style-position: inside;
  margin-bottom: 0;
  margin-top: 8px;
  max-width: 408px;
  padding: 0 0 0 10px;
}

.verb-upsell-bullets li::before {
  content: "•";
  position: absolute;
  left: -12px;
}

.verb-upsell-bullets li {
  list-style: none;
  position: relative;
  padding-left: 0;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .verb-container {
    align-items: center;
    display: flex;
    flex: 1 1 55%;
    flex-direction: row;
    padding: 48px;

    /* cursor: pointer; */
  }
}

.verb-wrapper.verb-upsell-active {
  cursor: default;
  border: 3px solid #d5d5d5;
}

.verb-wrapper.verb-upsell-active:hover {
  border: 3px solid #d5d5d5;
}

.verb-wrapper.verb-upsell-active.dragging {
  background-color: #fff;
  border: 3px solid #d5d5d5;
}

.verb-upsell-column {
  flex: 1;
  padding: 0 12px;
}

.verb-upsell-social-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0 20px;
  background-color: #fdfdfd;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .verb-widget {
    background-image: linear-gradient(180deg, #EB1000 0%, #F79B94 50%, #FFF 70%);
    padding: 16px;
  }

  .verb-wrapper {
    width: unset;
    max-width: unset;
    padding: 24px 29px;
    border: 3px dashed #d5d5d5;
    border-radius: 8px;
    min-height: calc(100vh - (63px + 32px + 115px + 48px + 7px));
    justify-content: flex-start;
  }

  .verb-row {
    flex-direction: column;
  }

  .verb-icon {
    width: 58px;
    height: 56px;
  }

  .verb-title {
    font-size: 27px;
  }

  .verb-heading {
    font-size: 36px;
  }

  .verb-copy {
    font-size: 18px;
    margin-bottom: 25px;
    padding-bottom: 10px;
    line-height: 27px;
  }

  .verb-cta {
    cursor: pointer;
    font-size: 22px;
    padding: 9px 25px;
  }

  .verb-cta .upload-icon {
    margin-right: 12px;
  }

  .verb-image {
    width: 135px;
    height: 130px;
    margin-top: 56px;
    margin-bottom: 28px;
  }

  .verb-col.right {
    flex-direction: column;
    align-items: center;
  }

  .info-icon {
    margin-left: 7px;
    margin-right: 15px;
  }

  .verb-legal-wrapper {
    margin-top: 23px;
  }

  .verb-legal {
    margin-top: 0;
    font-size: 12px;
  }

  .verb-upsell {
    width: 100%;
    height: auto;
  }

  .verb-upsell-heading {
    display: inline;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 100%;
  }

  .verb-upsell-heading + .verb-upsell-heading {
    margin-left: 5px;
  }

  .verb-upsell-bullets-heading {
    margin-bottom: -4px;
    margin-top: 16px;
  }

  .verb-upsell-bullets {
    margin-top: 4px;
  }

  .verb-upsell-bullets li {
    margin-bottom: 0;
  }

  .verb-upsell-bullets li:last-child {
    margin-bottom: 0;
  }

  .verb-upsell-social-container {
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 0;
  }
}
