:root {
  /* Consonant Variables */
  --consonant-font-family:'Adobe Clean', adobe-clean, 'Trebuchet MS', sans-serif;
  --consonant-color-white: #FFF;
  --consonant-color: #2C2C2C;
  --consonant-logo-color: var(--consonant-color);
  --consonant-logo-font-family: var(--consonant-font-family);
  --consonant-color-gray-300: #D5D5D5;
  --consonant-color-gray-700: #464646;
  --consonant-link-color: #1473E6;
  --consonant-link-color-hover: #0D66D0;
  --consonant-button-accent-action-bg: var(--consonant-link-color);
  --consonant-button-accent-action-bg-hover: var(--consonant-link-color-hover);
  --consonant-button-accent-action-text: var(--consonant-color-white);

  /* Logo type M */
  --consonant-logo-m-img-width: 41.5px;
  --consonant-logo-m-img-height: 40px;
  --consonant-logo-m-size: 27px;
  --consonant-logo-m-lh: 125%;
  --consonant-logo-m-ls: 0%;
  --consonant-logo-m-fw: 700;

  /* Heading type XXL */
  --consonant-heading-xxl-size: 36px;
  --consonant-heading-xxl-lh: 125%;
  --consonant-heading-xxl-ls: 0%;
  --consonant-heading-xxl-fw: 700;

  /* Body type M */
  --consonant-body-m-size: 18px;
  --consonant-body-m-lh: 150%;
  --consonant-body-ls: 0%;
  --consonant-body-fw: 400;

  /* Body type XXS */
  --consonant-body-xxs-size: 12px;
  --consonant-body-xxs-lh: 150%;
  --consonant-body-xxs-ls: 0%;
  --consonant-body-xxs-fw: 400;


  /* Buttons/L Label */
  --consonant-button-l-label-size: 19px;
  --consonant-button-l-label-lh: 24px;
  --consonant-button-l-label-ls: 0%;
  --consonant-button-l-label-fw: 700;

  /* Buttons/L */
  --consonant-button-l-padding: 12px 24px 14px;

  /* Verb specific variables */
  --verb-widget-image-width: 120px;
  --verb-widget-min-height: 528px;
  --verb-widget-padding: var(--consonant-spacing-m) var(--consonant-spacing-xs);
  --verb-wrapper-padding-y: var(--consonant-spacing-s);
  --verb-wrapper-padding-x: var(--consonant-spacing-s);
  --verb-wrapper-border-width: 3px;
  --verb-info-icon-margin: 8px 10px 0 4px;
  --verb-info-icon-size-width: 18px;
  --verb-info-icon-size-height: 18px;
  --verb-cta-margin-bottom: var(--consonant-spacing-s);

  /* Spacing */
   --consonant-spacing-xxs: 8px;
   --consonant-spacing-xs: 16px;
   --consonant-spacing-s: 24px;
   --consonant-spacing-m: 32px;
   --consonant-spacing-l: 40px;
   --consonant-spacing-xl: 56px;
   --consonant-spacing-xxl: 80px;
   --consonant-spacing-xxxl: 104px;

  /* Radius */
  --consonant-radius-s: 10px;
  --consonant-radius-m: 12px;
  --consonant-radius-l: 16px;
  --consonant-radius-xl: 20px;

  /* Tablets */
  --consonant-tablet-width: 768px;
  --consonant-tablet-width-max: 1024px;


  /* Verb Widget */
  --gnav-height: 115px;
  --footer-height: calc(72px + var(--consonant-spacing-s));
  --header-height: calc(var(--gnav-height) + var(--footer-height));
  --border-total-height: calc(var(--verb-wrapper-border-width) * 2);
  --padding-total-height: calc(var(--consonant-spacing-m) + (var(--consonant-spacing-s) * 2));
  --total-height: calc(100vh - (var(--header-height) + var(--padding-total-height) + var(--border-total-height)));
  --verb-wrapper-min-height: calc(100vh - (var(--header-height) + var(--padding-total-height) + var(--border-total-height)));
  --verb-wrapper-width: 1008px;
  --verb-wrapper-max-width: calc(var(--verb-wrapper-width) - ((var(--verb-wrapper-padding-x) * 2) + var(--verb-wrapper-border-width) * 2));

  @media screen and (min-width: 768px) {
    --verb-widget-min-height: 360px;
    --verb-wrapper-min-height: auto;
    --verb-widget-padding: 32px 40px;
    --verb-widget-image-width: 160px;
    --verb-wrapper-padding-y: 40px;
    --verb-wrapper-padding-x: 40px;
    --verb-cta-margin-bottom: 0;
    --verb-info-icon-margin: 0 0 0 var(--consonant-spacing-xs);
    --consonant-logo-m-img-width: 41.5px;
    --consonant-logo-m-img-height: 40px;
  }

  @media screen and (min-width: 1200px) {
    --verb-widget-min-height: auto;
    --verb-widget-padding: 32px 96px;
    --verb-wrapper-min-height: 475px;
    --verb-widget-image-width: 200px;
    --verb-wrapper-padding-x: 96px;
    --consonant-logo-m-img-width: 58px;
    --consonant-logo-m-img-height: 56px;
    --consonant-logo-m-size: 38px;
    --consonant-logo-m-lh: 125%;
    --consonant-logo-m-ls: -1%;
    --consonant-logo-m-fw: 700;

    /* Heading type XXL */
    --consonant-heading-xxl-size: 44px;
  }

  @media screen and (min-width: 1392px) {
    --verb-wrapper-width: 1200px;
  }

}

.unity { display: none !important; }

.verb-widget {
  color: transparent;
  background-color: #fff;
  background-image: linear-gradient(180deg, #EB1000 0%, #F79B94 46%, #FFF 78%);
  padding: var(--verb-widget-padding);
  min-height: var(--verb-widget-min-height);
}

.verb-widget.signed-in {
  min-height: 560px;
}

.verb-widget.ready {
  color: initial;
}

.verb-legal-wrapper {
  align-items: flex-start;
  display: flex;
  flex-flow: column;
}

.verb-legal {
  display: inline-block;
  color: var(--consonant-color-gray-700);
  margin: 0;
  font-size: var(--consonant-body-xxs-size);
  line-height: var(--consonant-body-xxs-lh);
  letter-spacing: var(--consonant-body-xxs-ls);
}

.verb-legal-two {
  margin-top: 0;
}

.acrobat-icon {
  display: inline-flex;
  width: var(--consonant-logo-m-img-width);
  height: var(--consonant-logo-m-img-height);
}

.verb-image {
  width: var(--verb-widget-image-width);
}

.verb-image svg {
  display: block;
  width: 100%;
  height: 100%;
}

.security-icon {
  display: flex;
  padding: 8.5px 11px;
}

.info-icon {
  display: flex;
  margin: var(--verb-info-icon-margin);
}

.info-icon svg {
  display: block;
  width: var(--verb-info-icon-size-width);
  height: var(--verb-info-icon-size-height);
}

.verb-footer {
  align-items: center;
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin-top: var(--consonant-spacing-s);
}

.verb-widget.signed-in .verb-footer {
  display: none;
}

.verb-widget.signed-in .verb-upsell-active {
  display: none;
}

.verb-widget.upsell .verb-footer {
  display: none;
}

.verb-widget.upsell #drop-zone {
  display: none;
}

.verb-footer a {
  text-decoration: underline;
  color: var(--consonant-link-color);
}

.verb-footer a:hover {
  color: var(--consonant-link-color-hover);
}

#CIDTWO {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}


#CID.facade {
  position: absolute;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
}

.verb-wrapper {
  max-width: var(--verb-wrapper-max-width);
  padding: var(--verb-wrapper-padding-y) var(--verb-wrapper-padding-x);
  border: var(--verb-wrapper-border-width) dashed var(--consonant-color-gray-300);
  border-radius: var(--consonant-radius-xl);
  min-height: var(--verb-wrapper-min-height);
  justify-content: flex-start;
  background-color: #fff;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.verb-wrapper:hover {
  border: 3px dashed #909090;
}

.verb-wrapper.dragging {
  background-color: #ecf5ff;
  border: 3px #0265dc solid;
}

.verb-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100%;
}

.verb-col {
  flex: 100%;
}

.verb-col.right {
  display: flex;
  justify-content: center;
}

.verb-copy {
  font-size: var(--consonant-body-m-size);
  line-height: var(--consonant-body-m-lh);
  color: var(--consonant-color-gray-700);
  margin-block-start: var(--spacing-xs);
  margin-block-end: var(--spacing-s);
}

.verb-sub-copy {
  color: #6d6d6d;
}

.verb-cta {
  font-family: var(--font-family);
  font-size: var(--consonant-button-l-label-size);
  background-color: var(--consonant-button-accent-action-bg);
  color: var(--consonant-button-accent-action-text);
  line-height: var(--consonant-button-l-label-lh);
  letter-spacing: var(--consonant-button-l-label-ls);
  font-weight: var(--consonant-button-l-label-fw);
  border: none;
  text-align: left;
  cursor: pointer;
  border-radius: var(--consonant-radius-s);
  padding: var(--consonant-button-l-padding);
  white-space: pre-wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 130px;
  margin-bottom: var(--verb-cta-margin-bottom);
}

.verb-cta .upload-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: var(--consonant-spacing-xxs);
  width: 24px;
  height: 24px;
}

.demo-cta {
  margin-top: 12px;
  border: #2C2C2C 2px solid;
  color: #2C2C2C;
  background-color: #FFF;
  display: inline-block;
  text-decoration: none;
}

html[dir="rtl"] .verb-cta .upload-icon {
  margin-right: 0;
  margin-left: 8px;
}

.verb-cta:hover {
  text-decoration: none;
  color: #fff;
  background-color: var(--consonant-button-accent-action-bg-hover);
}

.demo-cta:hover {
  background-color: #6d6d6d;
  color: #2C2C2C;
}

.verb-error {
  cursor: default;
  background: #D31510;
  max-width: 435px;
  color: white;
  position: absolute;
  top: 90px;
  transform: translate(-50%, -50%);
  left: 50%;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.close-icon {
  position: relative;
}

.verb-errorText {
  border-right: 1px solid rgb(255 255 255 / 20%);
  padding: 0;
  margin: 0;
  margin-right: 8px;
  padding-right: 16px;
  max-width: 324px;
  margin-left: 8px;
  min-width: 100px;
}

.verb-errorBtn {
  align-self: self-start;
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: block;
}

.verb-errorIcon {
  align-self: self-start;
  width: 18px;
  height: 18px;
  margin-left: 8px;
  margin-right: 4px;
  margin-top: 7px;
}

.verb-errorIcon::after {
  content: '';
  background-image: url('/acrobat/img/icons/ui/alert.svg');
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
}

.verb-heading {
  color: var(--consonant-color);
  font-size: var(--consonant-heading-xxl-size);
  line-height: var(--consonant-heading-xxl-lh);
  margin-block-start: var(--spacing-s);
  margin-block-end: var(--spacing-xs);
}

.verb-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-block-end: var(--spacing-s);
}

.verb-title {
  font-size: var(--consonant-logo-m-size);
  line-height: var(--consonant-logo-m-lh);
  letter-spacing: var(--consonant-logo-m-ls);
  font-weight: var(--consonant-logo-m-fw);
  color: var(--consonant-logo-color);
  margin-inline-start: 15px;
}

.verb-mobile-cta {
  display: inline-flex;
  padding: 12px 24px;
  border-radius: 100px;
  background: #1473e6;
  color: white;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  line-height: 29px;
  text-decoration: none;
  white-space: pre-wrap;
  text-align: center;
  margin-bottom: var(--consonant-spacing-s);
}

.verb-mobile-cta:hover,
.verb-mobile-cta:active {
  background-color: #0054b6;
  color: #fff;
  text-decoration: none;
}

.verb-upsell {
  color: #222;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: static;
  justify-content: normal;
  align-items: normal;
}

.verb-upsell-heading {
  display: inline;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 8px;
}

.verb-upsell-heading + .verb-upsell-heading {
  margin-left: 5px;
}

.verb-upsell-heading-nopayment {
  font-weight: 400 !important;
}

.verb-upsell-bullets-heading {
  margin-bottom: -4px;
  margin-top: 24px;
  padding-left: 0;
}

.verb-upsell-bullets {
  margin-top: 8px;
  padding: 0 0 0 15px;
}

.verb-upsell-list {
  font-size: 16px;
  list-style-position: inside;
  margin-bottom: 0;
  margin-top: 8px;
  max-width: 408px;
  padding: 0 0 0 10px;
}

.verb-upsell-bullets li::before {
  content: "•";
  position: absolute;
  left: -12px;
}

.verb-upsell-bullets li {
  list-style: none;
  position: relative;
  padding-left: 0;
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .verb-container {
    align-items: center;
    display: flex;
    flex: 1 1 50%;
    flex-direction: row;
  }

  .demo-button-wrapper {
    display: flex;
    gap: 12px;
  }

  .demo-cta {
    margin-top: 0;
  }
}

.verb-wrapper.verb-upsell-active {
  cursor: default;
  border: 3px solid var(--consonant-color-gray-300);
}

.verb-wrapper.verb-upsell-active:hover {
  border: 3px solid var(--consonant-color-gray-300);
}

.verb-wrapper.verb-upsell-active.dragging {
  background-color: #fff;
  border: 3px solid var(--consonant-color-gray-300);
}

.verb-upsell-column {
  flex: 1;
  padding: 0 12px;
}

.verb-upsell-social-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0 20px;
  background-color: #fdfdfd;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .verb-wrapper {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .verb-row {
    flex-direction: column;
    align-items: start;
  }

  .verb-col.right {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .verb-footer {
    align-items: start;
  }

  .verb-upsell {
    width: 100%;
    height: auto;
  }

  .verb-upsell-heading {
    display: inline;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 100%;
  }

  .verb-upsell-heading + .verb-upsell-heading {
    margin-left: 5px;
  }

  .verb-upsell-bullets-heading {
    margin-bottom: -4px;
    margin-top: 16px;
  }

  .verb-upsell-bullets {
    margin-top: 4px;
  }

  .verb-upsell-bullets li {
    margin-bottom: 0;
  }

  .verb-upsell-bullets li:last-child {
    margin-bottom: 0;
  }

  .verb-upsell-social-container {
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 0;
  }
}


.verb-widget .milo-tooltip.top::before {
  transform: translateX(-80%) translateY(-100%) !important;
}

.verb-widget .mobile.milo-tooltip.top::before {
  transform: translateX(-20%) translateY(-100%) !important;
}
