.verb-subfooters {
  max-height: 0;
  padding: 0;
}

/* Moblie */
.mobile-verb-footer {
  -webkit-transition: max-height 1s;
  -moz-transition: max-height 1s;
  -ms-transition: max-height 1s;
  -o-transition: max-height 1s;
  transition: max-height 1s;
  max-height: 0;
  overflow: hidden;
  position: initial !important;
}

.mobile-verb-footer-show {
  max-height: 20000px;
  position: initial !important;

}

.mobile-verb-footer .accordion-trigger {
  color: #747474;
  -ms-flex-align: center;
  -ms-flex-pack: start;
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: inherit;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  font-family: inherit;
  font-size: 11px;
  font-weight: 500;
  justify-content: flex-start;
  letter-spacing: .0006em;
  line-height: 1.3;
  margin: 0;
  min-height: 39px;
  position: relative;
  text-align: start;
  text-overflow: ellipsis;
  text-transform: uppercase;
  width: 100%;
  padding: 0;
}


.mobile-verb-footer .accordion dt.is-open,
.mobile-verb-footer .accordion dd.is-open, 
.mobile-verb-footer .accordion dt.has-focus, 
.mobile-verb-footer .accordion dd.has-focus {
  border-left: none;
}

.mobile-verb-footer .accordion dt.is-open,
.mobile-verb-footer .accordion dd.is-open {
  padding: 0;
}

.mobile-verb-footer .accordion ul {
  padding-left: 20px;
}

.mobile-verb-footer .accordion li {
  list-style-type: none;
  padding: 8px 0;
}

.mobile-verb-footer .accordion li a {
  color: #000;
}

.mobile-verb-footer picture {
  vertical-align: middle;
  padding-right: 10px;
}

.mobile-verb-footer  dd.is-open.has-focus {
  background-color: transparent;
}
