/*************************************************************************
* ADOBE CONFIDENTIAL
* ___________________
*
*  Copyright 2015 Adobe Systems Incorporated
*  All Rights Reserved.
*
* NOTICE:  All information contained herein is, and remains
* the property of Adobe Systems Incorporated and its suppliers,
* if any.  The intellectual and technical concepts contained
* herein are proprietary to Adobe Systems Incorporated and its
* suppliers and are protected by all applicable intellectual property laws,
* including trade secret and or copyright laws.
* Dissemination of this information or reproduction of this material
* is strictly forbidden unless prior written permission is obtained
* from Adobe Systems Incorporated.
**************************************************************************/
.adobe-yolo-icon{width:260px;height:356px;margin-top:12vh}#adobe-yolo-message{font-size:36px;font-weight:300;line-height:47px;margin-left:auto;margin-right:auto;font-family:adobe-clean,Helvetica Neue,Myriad Pro,sans-serif;margin-top:6vh;width:max-content}.adobe-dc-view-signInAdobeYolo{width:372px;margin-left:auto;margin-right:auto}.image{width:max-content}.image,.loader{margin-left:auto;margin-right:auto}.loader{margin-top:8vh;width:200px;background:#d5d5d5 0 0 no-repeat padding-box}.loader,.loader-blue-line{height:8px;border-radius:3px}.loader-blue-line{background-color:#0265dc}