version: 1.0

snow:
  - id: 545806 # Milo DC

notifications:
  jira:
    default:
      project: MWPW # Mandatory
      filters:
        include:
          risk_rating: R5
      fields:
        assignee:
          name: gunn
        customfield_11800: MWPW-140779 #epic link
        watchers:
          - casalino
          - jmichnow
          - mauchley
          - tsay
          - seanchoi
        labels:
          - "OriginatingProcess=Kodiak"
          - "security"
          - "kodiak-ticket"
        components:
          - name: "DevOps Security"
