[data-event-name] {
  display: none
}

[data-current-event=cancel] [data-event-name=cancel],
[data-current-event=complete] [data-event-name=complete],
[data-current-event=conversion] [data-event-name=conversion],
[data-current-event=download] [data-event-name=download],
[data-current-event=preview] [data-event-name=preview],
[data-current-event=repeat] [data-event-name=repeat],
[data-current-event=start] [data-event-name=start],
[data-current-event=upload] [data-event-name=upload],
[data-current-event=uploadcomplete] [data-event-name=uploadcomplete],
[data-current-event=upsell] [data-event-name=upsell],
body:not([data-current-event]) [data-event-name=onload] {
  display: block
}

.eventwrapper.onload {
  min-height: 2866px;
}

.fragment {
  min-height: 1400px;
}

.gnav {
  min-height: 97px;
}
