.dc-web-api {
  background-color: #fc6767;
  min-height: 570px;
  color: transparent;
}

.dc-web-api.ready {
  color: initial;
}

.widget-sub {
  text-align: center;
}

.widget-center {
  border: 3px #909090 dashed;
  width: calc(100% - 48px);
  margin: auto;
  height: 70%;
  border-radius: 8px;
}

.widget-legal {
  margin-top: 30px;
  font-size: 11px;
  line-height: 11px;
}
