.dc-web-api {
  background-color: #fc6767;
  min-height: 570px;
  color: transparent;
}

.demo-text {
  text-align: center;
  font-size: 8px;
  margin: 0;
  background: #7396ff;
}

.dc-web-api.ready {
  color: initial;
}

.widget-sub {
  margin: 42px auto 0;
  text-align: center;
  display: flex;
  align-items: center;
  max-width: 300px;
}

.widget-center {
  border: 3px #e1e1e1 dashed;
  width: calc(100% - 48px);
  margin: auto;
  height: 70%;
  border-radius: 8px;
}

.widget-center.dragging {
  border: 3px #7396ff solid;
}

.widget-legal {
  margin-top: 30px;
  font-size: 11px;
  line-height: 20px;
  max-width: 420px;
  text-align: left;
}

.widget-icon {
  width: 20px;
  height: 20px;

  background-image: url('../../img/icons/widget-icon.png');
  background-size: cover;
  display: inline-block;
  margin-right: 10px;
}

.widget-big-icon {
  width: 140px;
  height: 140px;
  background-image: url(../../img/icons/widget-dz.png);
  background-size: contain;
  margin: auto;
  background-repeat: no-repeat;
}

.security-icon {
  width: 30px;
  height: 30px;
  background-image: url(../../img/icons/widget-sec.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.widget-footer {
  align-items: center;
    display: flex;
    flex-flow: row;
    justify-content: center;
}


#CIDTWO {
  /* display: none; */
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}


#CID.facade {
  position: absolute;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
}
