/* First Time */
.dc-converter-widget {
  min-height: 582px !important;
}

@media (max-width: 37.5rem) {
  .eventwrapper.onload {
    min-height: 3562px !important;
  }
  .dc-converter-widget {
    min-height: 536px;
  }
}


@media (min-width: 37.5rem) {
  .eventwrapper.onload {
    min-height: 1983px !important;
  }
}

/* picture {
  display: none;
} */
