/*
 * Put project specific base styles here.
 *
 * Note: The proect does not load this file.
 *       You will need to load these using scripts.js.
 *
 *
 */
.col[data-align="center"] {
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.hlx-ReviewWrapper {
  justify-content: center;
}
.verb-subfooter {
  padding-bottom: 50px;
}
.verb-subfooter h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  padding-top: 25px;
  margin-top: 0;
}
.verb-subfooter ul {
  list-style-type: none;
  padding-left: 8px;
}
.verb-subfooter ul li {
  padding-top: 15px;
}
.verb-subfooter ul li a {
  font-size: 16px;
  font-weight: 500;
  color: #4b4b4b;
  vertical-align: top;
  padding-left: 10px;
}

@media (min-width: 52.7rem) {
  .accordion-container.verb-subfooter-moblie {
    display: none;
  }
}

@media (max-width: 52.6rem) {
  .verb-subfooter  {
    display: none;
  }
}

.accordion-container.verb-subfooter-moblie {
  background: #fbfbfb;
}

.accordion-container.verb-subfooter-moblie .accordion-trigger {
  color: #747474;
  -ms-flex-align: center;
  -ms-flex-pack: start;
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: inherit;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  font-family: inherit;
  font-size: 11px;
  font-weight: 500;
  justify-content: flex-start;
  letter-spacing: .0006em;
  line-height: 1.3;
  margin: 0;
  min-height: 39px;
  position: relative;
  text-align: start;
  text-overflow: ellipsis;
  text-transform: uppercase;
  width: 100%;
  padding: 0;
}

.accordion-container.verb-subfooter-moblie .accordion dt.is-open,
.accordion-container.verb-subfooter-moblie .accordion dd.is-open,
.accordion-container.verb-subfooter-moblie .accordion dt.has-focus,
.accordion-container.verb-subfooter-moblie .accordion dd.has-focus {
  border-left: none;
}

.accordion-container.verb-subfooter-moblie .accordion dt.is-open,
.accordion-container.verb-subfooter-moblie .accordion dd.is-open {
  padding: 0;
}

.accordion-container.verb-subfooter-moblie .accordion ul {
  padding-left: 20px;
}

.accordion-container.verb-subfooter-moblie .accordion li {
  list-style-type: none;
  padding: 8px 0;
}

.accordion-container.verb-subfooter-moblie .accordion li a {
  color: #000;
}

.accordion-container.verb-subfooter-moblie picture {
  vertical-align: middle;
  padding-right: 10px;
}

.accordion-container.verb-subfooter-moblie  dd.is-open.has-focus {
  background-color: transparent;
}

.section.hide {
  display: none;
  padding: 0;
}
.footer {
  background-color: #fbfbfb;

}
.how-to .text ol {
  padding-left: 0;
  list-style: none;
  counter-reset: custom-counter;
}
.how-to .text ol li {
  list-style-type: none;
  counter-increment: custom-counter;
  margin: 1rem;
  padding-left: 1.5rem;
}
.how-to .text ol li::marker {
  display: none;
}

.how-to.large-image {
  padding-left: 0;
  padding-right: 0;
}

div.how-to {
  max-width: none;
}

.how-to-heading {
  margin-right: 28px;
}
.how-to-image.how-to-image-large {
  margin-left: 28px;
}

.section .how-to > ol {
  margin-right: 28px;
}

/* Moblie HowTo */
@media (max-width: 37.5rem) {
  .how-to.large-image {
    grid-template-areas:
    "image"
    "heading"
    "list" !important;
    grid-template-columns: 1fr !important;
    padding-top: 56px;
    padding-bottom: 56px;
  }
  .how-to-heading {
    margin-right: 0;
  }
  .how-to-image.how-to-image-large {
    margin-left: 0;
  }

  .section .how-to > ol {
    margin-right: 0;
  }
}

div.how-to ol li::before{
  vertical-align: bottom;
}
.how-to .text ol li::before {
  content: counter(custom-counter);
  background: rgba(13,102,208,.13);
  width: 1.5rem;
  height: 1.5rem;
  font-size: .6875rem;
  font-style: italic;
  border-radius: 50%;
  display: inline-block;
  line-height: 1.5rem;
  text-align: center;
  margin-right: 0.75rem;
  margin-left: -35px;
  margin-top: 10px;
}

/* browser extension modal */
@keyframes modalSlideIn-frictionlessBrowserExtension {
  from { left: -50rem !important; }
  to { left: 0; }
}
.dialog-modal.extension-modal.backdrop-off {
  width: 30rem;
  max-height: 188px;
  top: revert;
  right: revert;
  margin-bottom: 20px;
  margin-left: 20px;
  overflow: hidden;
  box-shadow: 0 0.5em 1em -0.125em hsl(0deg 0% 4% / 10%), 0 0 0 1px hsl(0deg 0% 4% / 2%);
}
.section .columns.browser-extension {
  padding: 20px;
  width:480px;
  height: 190px;
  font-size: 16px;
  animation-name: modalSlideIn-frictionlessBrowserExtension;
  transition: opacity 125ms ease-in-out,background-color 125ms ease-in-out,backdrop-filter 125ms ease-in-out,-webkit-backdrop-filter 125ms ease-in-out,transform 125ms ease-in-out;
  animation-duration: 2s;
}
.section .columns.browser-extension p {
  margin-top: 0;
  margin-right: 20px;
}
.section .columns.browser-extension > .row {
  display: flex;
  margin-bottom: 0;
  gap: 0px;
}
.section .columns.browser-extension picture {
  width: initial;
  vertical-align: middle;
  display: flex;
  padding: 30px 10px 0px 10px;
}
.section .columns.browser-extension picture img {
  width: 90px;
  height: 90px;
  margin: auto;
  display: block;
}
.section .columns.browser-extension .row .col-1 {
  width: 66.666666%;
}
.section .columns.browser-extension .row .col-1 a {
  border-width: 2px;
  border-style: solid;
  border-radius: 16px;
  min-height: 32px;
  height: auto;
  min-width: 72px;
  padding: 3px 14px 5px;
  font-size: 14px;
  font-weight: 700;
  background-color: transparent;
  border-color: #505050;
  color: #505050;
}
.section .columns.browser-extension .row .col-1 a:hover {
  background-color: #505050;
  color: #ffffff;
  text-decoration: none;
}

.section .columns.browser-extension .row .col-2 {
  width: 33.333333%;
  border-left: solid 2px #EAEAEA;
}

.breadcrumbs ul {
  padding: 5px 0 !important;
}

/* CLS */
.dc-converter-widget {
  /* min-height: 0 !important; */
  -webkit-transition: min-height 1s;
  -moz-transition: min-height 1s;
  -ms-transition: min-height 1s;
  -o-transition: min-height 1s;
  transition: min-height 1s;
  /* overflow: hidden; */
}

.eventwrapper.onload {
  min-height: 0 !important;
  -webkit-transition: min-height 1s;
  -moz-transition: min-height 1s;
  -ms-transition: min-height 1s;
  -o-transition: min-height 1s;
  transition: min-height 1s;
  /* overflow: hidden; */
}

/* GNav SVG Fill overrides */

.gnav .cls-2{
  fill: #fff ;
}

.gnav .cls-1 {
  fill: #fa0f00;
}
