.dc-converter-widget {
background-color: #fc6767;
min-height: 332px;
}
.dc-wrapper {
  width: 100%;
  max-width: 1100px;
  height: auto;
  margin: auto;
  padding: 0 0 0 ;
  position: relative;
  top: 60px;
}

.dc-wrapper .react-spectrum-provider {
  position: relative;
  z-index:10;
}

#VERB, .hide {
  display: none;
}

@media (max-width: 37.5rem) {
  .dc-wrapper {
    padding: 0 15px 0;
}
}
