.dc-converter-widget {
  background-color: #fc6767;
  min-height: 560px;
}

.dc-wrapper {
  width: 75%;
  max-width: 75%;
  height: auto;
  margin: auto;
  padding: 0 0 0 ;
  position: relative;
  overflow: hidden;
  left:0;
  top: 70px;
  right:0;
  z-index: 1;
}

#VERB, .hide {
  display: none;
}

@media (max-width: 37.5rem) {
  .dc-wrapper {
    width: 91.666667%;
    max-width: 91.666667%;
    top: 40px;
  }
}

.dialog-modal.extension-modal {
  top: unset;
  right: unset;
  box-shadow: 0 .5em 1em -.125em hsla(0,0%,4%,.1),0 0 0 1px hsla(0,0%,4%,.02);
  margin-bottom: 20px;
  margin-left: 20px;
}
