.dc-converter-widget > div:first-of-type {
  display: none;
}

.widget-heading {
  font-size: 36px;
  text-align: center;
}

.widget-copy{
  font-size: 16px;
  text-align: center;
  margin-top: 235px;
}

.widget-legal {
  font-size: 16px;
  text-align: center;
  margin-top: 235px;
}

.widget-wrapper {
  border: 1px #e1e1e1 solid;
  margin: 5px;
  border-radius: 8px;
}

/* Full Screen Widget US / PDF-to-PPT ONLY */
@media (max-width: 600px) {
  .widget-wrapper {
    height: calc(100vh - 120px);
  }
}
