/* 
 * Put project specific base styles here.
 *
 * Note: The proect does not load this file.
 *       You will need to load these using scripts.js.
 * 
 *
 */
.col[data-align="center"] {
  text-align: center;
}

.accordion dt {
  border: none !important;
}
.accordion dt:last-of-type {
  border: none !important;
}
