/* 
 * Put project specific base styles here.
 *
 * Note: The proect does not load this file.
 *       You will need to load these using scripts.js.
 * 
 *
 */
.col[data-align="center"] {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.hlx-ReviewWrapper {
  justify-content: center;
}
