name: Clear Akamai Cache

on:
  workflow_dispatch:
    inputs:
      cpCode:
        description: 'CP Code'
        type: string
        required: true
        default: '1551836'
      network:
        description: 'Network'
        type: choice
        required: true
        default: 'staging'
        options:
          - 'staging'          
          - 'production'

jobs:
  clear-cache:     
    name: Clear Cache
    runs-on: ubuntu-latest
    steps:
      - name: Clear Cache
        uses: jdmevo123/akamai-purge-action@1.7
        env:
          EDGERC: ${{ secrets.EDGERC }}
        with:
          command: 'invalidate' 
          type: 'cpcode'
          ref: ${{ inputs.cpCode }} 
          network: ${{ inputs.network }}
