name: Integration Tests

on:
  workflow_dispatch:
    inputs:
      testCodeBranch:
        description: 'Test Code Branch'
        required: true
        default: 'stage'
        type: string

jobs:
  run-integration-tests:     
    name: Integration Tests
    runs-on: macos-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
        with:
          ref: ${{ inputs.testCodeBranch }}

      - name: Cache dependencies
        id: cache
        uses: actions/cache@v3
        with:
          path: ./node_modules
          key: modules-${{ hashFiles('package-lock.json') }}-${{ runner.os }}

      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: npm ci --ignore-scripts

      - name: Install browsers
        run: npx playwright install

      - name: Run the tests
        run: npm run int3
        
      - name: Save test logs
        if: ${{ always() }}
        uses: actions/upload-artifact@v3
        with:
          name: screenshots
          path: |
            test/integration/*/screenshots/**/*.test.png
            test/integration/*/screenshots/**/*.diff.png
