name: Test .ing sites

on:
  schedule:
    - cron:  '0 14 * * *'

jobs:
  run-tests:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        include:
          - os: ubuntu-latest
            browser: firefox
          - os: windows-latest
            browser: chromium
          - os: macos-latest
            browser: webkit          
    name: Smoke Test
    runs-on: ${{ matrix.os }}
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
        with:
          ref: stage
      - name: Cache dependencies
        id: cache
        uses: actions/cache@v3
        with:
          path: ./node_modules
          key: modules-${{ hashFiles('package-lock.json') }}-${{ runner.os }}

      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: npm ci --ignore-scripts

      - name: Install browsers
        run: npx playwright install --with-deps ${{ matrix.browser }}

      - name: Run the tests
        run: |
          npx run test/e2e -t "@ing" -h -p signing -b ${{ matrix.browser }} --bypassBotDetection
          npx run test/e2e -t "@ing" -h -p editing -b ${{ matrix.browser }} --bypassBotDetection
        env:
          USER_AGENT_SUFFIX: "${{ secrets.USER_AGENT_SUFFIX }}"
          
      - name: Save test logs
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: reports
          path: reports/         
